django
mysqlclient
django-debug-toolbar
djangorestframework
drf-nested-routers
django-filter
djoser
djangorestframework_simplejwt
gunicorn
pillow
django-cors-headers
django-templated-mail
redis
celery
flower
django-redis
whitenoise
dj-database-url
django-silk
